{% extends 'formbase.html' %}
        {% block body %}
        <div style="width:500px;">
          <form action="{% url 'change' %}" method="post">
            {% csrf_token %}
            <div class="imgcontainer">
              <span style="font-size: 3em; color: Tomato;"><i class="fab fa-shopify"></i></span>
            </div>
            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-success" role="alert">
              {{message}}
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
              {{message}}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="container">
              
              <label for="email"><b>Email Id</b></label>
              <input type="email" placeholder="Enter Email" name="Email" class="border" recuired>
          
              <label for="Password"><b>New Password</b></label>
              <input type="password" placeholder="Enter Password" name="Password" class="border" required>
          
              <input type="submit" class="btn btn-primary btn-block mt-4" value="Change">
              
            </div>
          
            <div class="container" style="background-color:#f1f1f1">
              <br>
              <a href="{% url 'about' %}"><i class=" fa-2x fas fa-arrow-circle-left"></i></a><br><br>
              
            </div>
          </form>
        <div>
        </center>
    {% endblock %}